[Unit]
Description=Ethereum miner
After=network.target

[Service]
EnvironmentFile=%h/.config/idleminer-environment
ExecStart=%h/bin/start_ethminer.sh

[Install]
WantedBy=multi-user.target
